ci:
  autoupdate_schedule: monthly
  autofix_commit_msg: "style(pre-commit.ci): auto fixes"
  autoupdate_commit_msg: "ci(pre-commit.ci): autoupdate"

default_install_hook_types:
  - pre-commit
  - commit-msg

repos:
  - repo: https://github.com/crate-ci/typos
    rev: v1
    hooks:
      - id: typos

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.12
    hooks:
      - id: ruff
        types_or: [python, pyi, jupyter]
        args: [--fix, --select, I]
      - id: ruff-format
        types_or: [python, pyi, jupyter]
        args: [--config=pyproject.toml]

  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v4.2.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: []
