name: plant-seg
channels:
  - conda-forge
dependencies:
  - python
  - pip
  # Neural Network
  - pytorch
  # Bioimage and CV
  - tifffile
  - h5py
  - zarr
  - vigra
  - python-elf
  - python-graphviz
  - scikit-image
  - bioimageio.core>=0.8.0
  # GUI
  - qtpy
  - pyqt
  - napari
  # Other
  - qt-material
  - requests
  - pyyaml
  - pydantic>2
  - pip:
      - -e .
