name: panseg-dev
channels:
  - conda-forge
dependencies:
  - python>=3.11
  - pip
  # Neural Network and GPU
  - pytorch
  - tensorboard
  # Bioimage and CV
  - tifffile
  - h5py
  - zarr
  - vigra
  - python-elf
  - python-graphviz
  - scikit-image
  - bioimageio.core>=0.9.0
  - bioimageio.spec>=0.5.4.3
  # GUI
  - pyside6
  - qtpy
  - napari
  # Other
  - qt-material
  - requests
  - pyyaml
  - pydantic>2
  # Test
  - pytest
  - pytest-cov
  - pytest-qt
  - pytest-mock
  - requests-mock
  # CI/CD
  - pre-commit
  - bump-my-version
  # Docs
  - mkdocs-material
  - mkdocs-autorefs
  - mkdocs-git-revision-date-localized-plugin
  - mkdocs-git-committers-plugin-2
  - mkdocstrings-python
  - mike
  - pip:
      - markdown-exec
      - -e .
