name: plant-seg
channels:
  - pytorch
  - nvidia
  - conda-forge
dependencies:
  - python
  # Neural Network
  - pytorch
  - torchvision
  - torchaudio
  - pytorch-cuda=12.1
  # Bioimage and CV
  - tifffile
  - h5py
  - zarr
  - vigra
  - python-elf
  - python-graphviz
  - scikit-image
  - bioimageio.core>=0.6.5
  # GUI
  - pyqt
  - napari
  # Other
  - requests
  - pyyaml
  - pydantic>2,<2.10  # 2.10 cause problem spec-bioimage-io/issues/663
  # Testing
  - pytest
  - pytest-cov
  - coverage
  - pluggy
  - iniconfig
  - pytest-qt
  - pytest-mock
  - requests-mock
