name: plant-seg-dev
channels:
  - pytorch
  - conda-forge
  # `defaults` is optional, unless e.g. `conda-forge` has no cudnn 9.* when `defaults` has.
  # `defaults` of Anaconda is not accessible for many non-profit institutes such as EMBL.
  # - defaults
dependencies:
  - python
  # Neural Network and GPU
  - pytorch::pytorch
  - torchvision
  # Bioimage and CV
  - tifffile
  - h5py
  - zarr
  - vigra
  - python-elf
  - python-graphviz
  - scikit-image
  - bioimageio.core>=0.6.5
  # GUI
  - pyqt
  - napari
  # Other
  - requests
  - pyyaml
  - pydantic>2,<2.10  # 2.10 cause problem spec-bioimage-io/issues/663
  # Test
  - pytest
  - pytest-qt
  - pytest-mock
  - requests-mock
  # CI/CD
  - pre-commit
  - bump-my-version
  # Docs
  - mkdocs-material
  - mkdocs-autorefs
  - mkdocs-git-revision-date-localized-plugin
  - mkdocs-git-committers-plugin-2
  - mkdocstrings-python
  - pip:
      - markdown-exec
      # PlantSeg
      - -e .
