name: plant-seg
channels:
  - pytorch
  - nvidia
  - conda-forge
dependencies:
  - python
  # Neural Network
  - pytorch
  # Bioimage and CV
  - tifffile
  - h5py
  - zarr
  - vigra
  - python-elf
  - python-graphviz
  - scikit-image
  - bioimageio.core>=0.6.5
  # GUI
  - pyqt
  - napari
  # Other
  - requests
  - pyyaml
  - pydantic>2
