site_name: PanSeg
site_url: https://kreshuklab.github.io/panseg/
site_description: Cell instance aware segmentation in densely packed 3D volumetric images
repo_name: kreshuklab/panseg
repo_url: https://github.com/kreshuklab/panseg
edit_uri: edit/main/docs/
copyright: Copyright &copy; 2019 - 2025 Lorenzo Cerrone, Adrian Wolny, Qin Yu

theme:
  name: material
  favicon: images/favicon.ico
  logo: logos/logo.png
  icon:
    repo: fontawesome/brands/github
  palette:
    # Palette toggle for light mode
    - scheme: default
      primary: green
      accent: light-green
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - scheme: slate
      primary: green
      accent: light-green
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - content.tooltips
    - content.code.annotate
    - navigation.instant
    - navigation.instant.progress
    - navigation.sections
    - navigation.path
    - navigation.indexes
    - navigation.footer
    - toc.follow
    - search.suggest
    - search.share

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/kreshuklab/panseg
      name: PanSeg on GitHub
  version:
    provider: mike
    alias: true

markdown_extensions:
  - abbr
  - attr_list
  - md_in_html
  - admonition
  - pymdownx.extra
  - pymdownx.details
  - pymdownx.snippets
  - pymdownx.highlight
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.snippets:
      base_path: docs/snippets
      check_paths: true
  - toc:
      permalink: true

plugins:
  - search
  - autorefs
  - markdown-exec
  - mkdocstrings:
      handlers:
        python:
          import:
            - https://docs.python.org/3/objects.inv
            - https://numpy.org/doc/stable/objects.inv
          options:
            heading_level: 3
            docstring_style: google
            show_source: true
            show_signature_annotations: true
            show_root_heading: true
            show_root_full_path: true
            show_bases: true
            docstring_section_style: list
  - git-revision-date-localized:
      enable_creation_date: true
  - git-committers:
      repository: kreshuklab/panseg
      branch: master

nav:
  - Overview:
      - index.md

  - Getting Started:
      - chapters/getting_started/index.md
      - Installation: chapters/getting_started/installation.md
      - Contributing: chapters/getting_started/contributing.md
      - Know Issues: chapters/getting_started/known_issues.md

  - Napari GUI:
      - chapters/plantseg_interactive_napari/index.md
      - Import: chapters/panseg_interactive_napari/import.md
      - Preprocessing: chapters/panseg_interactive_napari/preprocessing.md
      - Segmentation: chapters/panseg_interactive_napari/segmentation.md
      - Postprocessing: chapters/panseg_interactive_napari/postprocessing.md
      - Proofreading: chapters/panseg_interactive_napari/proofreading.md
      - Output: chapters/panseg_interactive_napari/output.md
      - Batch processing: chapters/panseg_interactive_napari/batch.md
      - Training: chapters/panseg_interactive_napari/unet_training.md

  - Batch Workflow:
      - chapters/workflow_gui/index.md

  - Dataset and Training:
      - chapters/panseg_models/index.md
      - Custom Datasets: chapters/panseg_models/custom_datasets.md
      - Advanced Training: chapters/panseg_models/training.md

  - API:
      - chapters/python_api/index.md
      - tasks:
          - panseg.tasks.io_tasks: chapters/python_api/tasks/io_tasks.md
          - panseg.tasks.dataprocessing_tasks: chapters/python_api/tasks/dataprocessing_tasks.md
          - panseg.tasks.segmentation_tasks: chapters/python_api/tasks/segmentation_tasks.md
          - panseg.tasks.prediction_tasks: chapters/python_api/tasks/prediction_tasks.md
      - functionals:
          - panseg.io: chapters/python_api/functionals/io.md
          - panseg.functionals.dataprocessing: chapters/python_api/functionals/data_processing.md
          - panseg.functionals.prediction: chapters/python_api/functionals/cnn_prediction.md
          - panseg.functionals.segmentation: chapters/python_api/functionals/segmentation.md

  - PlantSeg v1:
      - chapters/panseg_legacy/installation.md
      - Classic GUI:
          - chapters/panseg_legacy/panseg_classic_gui/index.md
          - Data Processing: chapters/panseg_legacy/panseg_classic_gui/data_processing.md
          - Prediction: chapters/panseg_legacy/panseg_classic_gui/cnn_prediction.md
          - Segmentation: chapters/panseg_legacy/panseg_classic_gui/segmentation.md

      - Classic CLI:
          - chapters/panseg_legacy/panseg_classic_cli/index.md
      - Troubleshooting: chapters/panseg_legacy/troubleshooting.md
