name: Doc Build
on:
  push:
    branches:
      - master
      - qy/record-issue-missing-button

permissions:
  contents: write
jobs:
  deploy-book:
    runs-on: ubuntu-latest
    env:
      DISPLAY: ':99.0'
    steps:
      - uses: actions/checkout@v4
      - uses: tlambert03/setup-qt-libs@v1
      - name: Build display
        run: |
          /sbin/start-stop-daemon --start --quiet --pidfile /tmp/custom_xvfb_99.pid --make-pidfile --background --exec /usr/bin/Xvfb -- :99 -screen 0 1920x1200x24 -ac +extension GLX
      - name: Set PlantSeg version name
        run: echo "RELEASE_VERSION=DOC_RELEASE" >> $GITHUB_ENV
      - name: Print PlantSeg version name
        run: |
          echo $RELEASE_VERSION
      - name: Configure Git Credentials
        run: |
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com
      - uses: conda-incubator/setup-miniconda@v2
        with:
          auto-activate-base: true
          activate-environment: ''
          channels: local,conda-forge,defaults
          channel-priority: false
      - shell: bash -l {0}
        run: |
          conda info --envs
      - name: Build PlantSeg
        shell: bash -l {0}
        run: |
          conda install -q conda-build
          conda build -c conda-forge conda-recipe
      - name: Create PlantSeg env
        run: |
          conda create -n plant-seg -c local -c conda-forge pyqt plantseg
      - name: Activate PlantSeg env
        shell: bash -l {0}
        run: |
          conda activate plant-seg
      - run: echo "cache_id=$(date --utc '+%V')" >> $GITHUB_ENV
      - uses: actions/cache@v4
        with:
          key: mkdocs-material-${{ env.cache_id }}
          path: .cache
          restore-keys: |
            mkdocs-material-
      - name: install mkdoks
        shell: bash -l {0}
        run: |
          conda activate plant-seg
          pip install mkdocs-material mkdocs-git-revision-date-localized-plugin mkdocs-git-committers-plugin-2 mkdocs-autorefs mkdocstrings[python] markdown-exec
          mkdocs gh-deploy --force
        env:
          MKDOCS_GIT_COMMITTERS_APIKEY: ${{ secrets.MKDOCS_GIT_COMMITTERS_APIKEY }}
